* {
    padding: 0px;
    margin: 0px;
}

html {
    font-family: "Lato", "san-serif";
    font-size: 20px;
    background-color: #ffffff;
    width: 960px;
    margin-left: 170px;
    border: 5px solid;
    
}

ul{
    list-style: none;
}

p{
    font-size: 16px;
}
/*-----------------------------------------------*/
/*----------------Chỉnh phần header--------------*/
/*-----------------------------------------------*/

.header {
    border: 1px solid #444;
    display: inline-block;
    padding: 10px;
    width: 940px;
    background-color: #444;
    margin-bottom: 20px;
}

.list_button {
    float: right;
    width: 390px;
}

.text_header {
    font-size: 20px;
    float: left;
    color: #fff;
    margin-left: 10px;
}

.button-header {
    margin-right: 20px;
    text-decoration: none;
    color: gray;
}

.button-header:hover {
    color: #fff;
}

/*-----------------------------------------------*/
/*----------------Chỉnh phần content1------------*/
/*-----------------------------------------------*/
.content_1 {
    float: left;
    margin-left: 20px;
}

.list_category {
    display: flex;
    flex-direction: column;
    background-color: #BBB;
    width: 10rem;
    border-radius: 2px;
    font-size: 15px;
}

.list_category div {
    background-color: #fff;
    margin: 0.4px;
    padding: 10px;
}

.category-button {
    text-decoration: none;
    color: #0099FF;
}

h2 {
    margin-bottom: 1rem;
}

/*-----------------------------------------------*/
/*----------------Chỉnh phần content2------------*/
/*-----------------------------------------------*/

.content_2{
    float: right;
    width: 693px;
}

.product_row {
    display: flex;
    background-color: white;
    flex-direction: row;
    width: 200px;
}

.product_row .product{
    background-color: #f1f1f1;
    margin: 1px;
    font-size: 20px;
    margin-right: 30px; /* Điều chỉnh khoảng cách giữa các ô */
    border: 1px solid #BBBBBB; /* Viền xung quanh màu xanh */ 
    border-radius: 5px;
}

.image-content-2{
    margin-bottom: 20px;
    width: 692px;
}

.product-image{
    width: 208.5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

h3{
    color: #0099FF;
    margin-bottom: 15px;
    margin-left: 20px;
}

.content_2 div{
    margin-bottom: 15px;
}

.text_product{
    margin-bottom: 80px;
    color: black;
}

.product_row1 li , .product_row2 li{
    border: 1.3px solid #BBBBBB;
    margin-right: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    
}

.product_row1 li h3,.product-cost,.text_product,
.product_row2 li h3,.product-cost,.text_product{
    margin-left: 20px;
}

.button{
    text-decoration: none;
}

.product-cost{
    color: black;
}

i{
    font-size: 8px;
    color: #444444;
    margin-top: 15px;
}

.list-icon{
    margin-left: 20px;
}

/*---------------------------------------------------*/
/*------------------Chỉnh phần footer----------------*/
/*---------------------------------------------------*/

.footer {
    background-color: #444444; /* Màu nền của footer */
    color: #ffffff; /* Màu văn bản trong footer */
    width: 900px;
    padding: 30px;
    text-align: center;
    clear: both; /* Đảm bảo rằng phần footer không bị xung đột với các phần khác */
}

.text-footer a{
    color: #0099FF;
    text-decoration: none;
}

span{
    border: 1.5px solid;
    border-radius: 50%;
    color: #fff;
    padding: 1px;
}
